body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: url("../images/BG.jpg")  repeat-x scroll 0 0 transparent;
}

/*
#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: #c5e1d2;
	border: 1px solid #C9E0ED;
	background-repeat: no-repeat;
        background: #cbccc8;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8));
        background: -moz-linear-gradient(top,  #fff,  #cbccc8);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbccc8'); }

}*/
#page {
    /*background: url("images/background2.gif") repeat-y scroll center top transparent;*/
    margin-top: 4px;
    padding: 0 0px;
    text-align: left;
    width: 984px;
    background:white;
   /*-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);*/
    border:1px solid #76D4CC;
    height:700px;
}

#header
{
	margin: 0;
	padding: 0;
	/*border-top: 3px solid #236542;*/
	
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 79px;
}

#footer
{
	padding: 15px;
/*	margin: 10px 20px;*/
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
	
	/*background:#86BFD9;*/
	height:40px;
	color:#7FA2AD;
	/*color:#fff;*/
}

#logo
{
	padding: 0px 110px;
	font-size: 450%;
	background:#fff;
	margin-bottom:0px;
	/*background:white url(../images/logo3.png) repeat-y left top;*/
	color:#7fa2ad;
	font-family: Verdana,Geneva,sans-serif;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
	color:#86bfd9;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	border-radius:5px;
	padding: 3px 8px;
	 background: -moz-linear-gradient(#86bfd9, #E9E9E9) repeat scroll 0 0 #C9C9C9;
	width: 60px;
	/*border-left: 5px solid #6FACCF;*/
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: white;
	 background: -moz-linear-gradient(#86bfd9, #E9E9E9) repeat scroll 0 0 #C9C9C9;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
/*	background:#e7e5e5;*/
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
	padding-left: 5px;
}

.operations li a
{
	font: bold 12px Arial;
	/*color: #0066A4;*/
	color: #6698FF;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
	background:white;
}

.operations li a:visited
{
	/*color: #0066A4;*/
	color: #6698FF;
}

.operations li a:hover
{
	/*background: #80CFFF;*/
	background: white;
}

